#people_page table tr{
    padding: 0px 0px 30px 0px;
}

#people_page table td:first-child{
    width: 20%;
    vertical-align: top;
}

#people_page table td:last-child{
    width: 62%;
    vertical-align: top;
}

#people_page table td:first-child img{
    width: 85%;
}

#alumni_page table td{
    width: 20%;
}

#alumni_page table td:last-child{
    width: 60%; !important;
}

#alumni_page table td:first-child{
    text-align: right;
}

#alumni_page table td:nth-child(2){
    text-align: center;
}

#news .news{
    border-bottom: #8b8b8b 1px solid;
    display: inline-block;
}
#news img{
    width: 100%;
}

#news .news div{
    float: left;
}

#news .news > div:first-child{
    width:420px;
}
#news .news > div:last-child{
    width: calc(100% - 420px);
}
#misc_menu li{
    /*background: #cce5ff;*/
    float: left;
    margin-left: 60px;
}

.fancybox-content {
    height: 90vh !important;
    width: 80vw !important;
}
.fancybox-toolbar {
    right: 10vw !important;
    top: 5vh !important;
}
