#people_page table tr{
    padding: 0px 0px 30px 0px;
}

#people_page table td:first-child{
    width: 20%;
    vertical-align: top;
}

#people_page table td:last-child{
    width: 70%;
    vertical-align: top;
}

#people_page table td:first-child img{
    width: 85%;
}

#alumni_page table td{
    width: 20%;
    font-size: 12px;
    padding: 2px;
    color: darkslategrey;
}

#alumni_page table td:last-child{
    width: 60%; !important;
}

/*#alumni_page table td:first-child{*/
    /*text-align: right;*/
/*}*/

/*#alumni_page table td:nth-child(2){*/
    /*text-align: center;*/
/*}*/

#alumni_page table td:last-child{
    width: 50%; !important;
}

