#news_page img[name='title']{
    width: 40%;
    float: right;
    margin: 10px
}

.inside{
    /*padding-top: 50px;*/
    padding-bottom: 50px;
}

#content {
    width: 90%;
    margin: auto;
    position: relative;
    background: whitesmoke;
}